{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Diploma in Engineering CGPA Calculator | 2016 Probidhan</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} " />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<meta property="og:image" content="" />
	
	
	<meta property="article:author" content="https://www.facebook.com/hossenmdimran.9080" />

	<script>var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-50px";
  }
  prevScrollpos = currentScrollPos;
}
</script>
</head>

	
  

	<body>
	<div class="header" id="navbar">
	
	<header >
    
      <h1>👨‍💻Online CGPA Calculator👨‍💻</h1>

    
	</header>
	</div>
	<div class="ndiv">
      <marquee><h3 class="h">	&#128640;👨‍💻 Welcome TO Online CGPA Calculator 💥 Thanks! For Using This	&#128640;	&#128640;  </h3></marquee>


    </div>

	  
	
	
		<div class="container">
			<div class="form-container">
				<form name="gpa" id="calculate-cgpa" action="gpa"  > {% csrf_token %}
				<h3 class="page-title">Diploma in Engineering CGPA Calculator Probidhan-2016</h3>
					<div class="form-group">
						<div class="row">
							<div class="col-md-5"><label for="first-cgpa">First Semester CGPA</div>
							<div class="col-md-7"><input id="first-cgpa" name="num1" type="text" class="form-control" required></div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-5"><label for="second-cgpa">Second Semester CGPA</div>
							<div class="col-md-7"><input id="second-cgpa" name="num2" type="text" class="form-control" required></div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-5"><label for="third-cgpa">Third Semester CGPA</div>
							<div class="col-md-7"><input id="third-cgpa" name="num3" type="text" class="form-control" required></div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-5"><label for="fourth-cgpa">Fourth Semester CGPA</div>
							<div class="col-md-7"><input id="fourth-cgpa" name="num4" type="text" class="form-control" required></div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-5"><label for="fifth-cgpa">Fifth Semester CGPA</div>
							<div class="col-md-7"><input id="fifth-cgpa" name="num5" type="text" class="form-control" required></div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-5"><label for="sixth-cgpa">Sixth Semester CGPA</div>
							<div class="col-md-7"><input id="sixth-cgpa" name="num6" type="text" class="form-control" required></div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-5"><label for="seventh-cgpa">Seventh Semester CGPA</div>
							<div class="col-md-7"><input id="seventh-cgpa" name="num7" type="text" class="form-control" required></div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-5"><label for="eighth-cgpa">Eighth Semester CGPA</div>
							<div class="col-md-7"><input id="eighth-cgpa" name="num8" type="text" class="form-control" required></div>
							<div class="col-md-8">
							<div class="cgpa"><h4>{{Cgpa}}</h4> </div></div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-3 col-md-offset-4""> <input type="submit" class="btn btn-md btn-success" value="Calculate Now" />
							
							</div>
							
							
						</div>
						</div>
						
				</form>
							</div>

			<div class="copyright">
				<p>&copy; 2019 All Right Reserved</p>
					<p>Design And Developed By Md Imran Hossen</p>
			</div>
		</div>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="js/jquery.validate.min.js"></script>
		
	</body>
</html>

